{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container mt-5 text-white">
    <hr class="text-white">
    <h4 class="text-uppercase">Who are we?</h4>


    <p>We are a modern architectural design and urban planning firm located in Harare, Zimbabwe,  that specializes in residential and commercial projects across the country. Livan Design Innovation supplies creative solutions that are customized to suit each client’s personal requirements. We pride ourselves on applying our skills to realise our clients’ ambitions and dreams whilst reducing the running costs through energy efficient design resolutions. Through the years, we have worked with many developers, owners and contractors, providing an array of services.</p>

    <hr class="text-white">
    <h4 class="text-uppercase">Our Mission</h4>
    <p>Create clutter free architecture and planning while providing client focused service through responsible practice.</p>

    <h4 class="text-uppercase">Goals</h4>
    <p>Provide innovative, efficient and sustainable solutions through exceptional client service
        Advocate for inclusive design i.e. embracing the responsibility to design spaces that are inclusive and accessible to all.
    </p>

    <h4 class="text-uppercase">Values</h4>
    <p>Integrity</p>
    <p>Accountability</p>
    <p>Functionality</p>
    <p>Collaboration</p>
    <p>Simplicity and Minimalism</p>
</div>

{% endblock content%}