{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/grange1.jpg' %}" class="d-block carousel-img" alt="img">
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/grange2.jpg' %}" class="d-block carousel-img" alt="img">
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/grange3.jpg' %}" class="carousel-img d-block" alt="img">
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/grange4.jpg' %}" class="carousel-img d-block" alt="img">
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/grange5.jpg' %}" class="carousel-img d-block" alt="img">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-6 text-white">
            <h1 class="text-white">The Grange</h1>
            <p>The Grange residence is a modern twist on a traditional home with a farmhouse element that instills privacy and a sustainable lifestyle. We incorporated, glass and steel to provide a more contemporary and modern geometric look. The natural stone (domboshava) facades were incorporated to pay homage to the home ground. The central courtyard accommodates the entertainment area and allows for light to penetrate the building, whilst a breeze blowing through the openable sliding doors and windows cools down the spaces during hot summer months.
            </p>

            <p>The high ceilings and skylights are the highlight of this residence as they improve the aesthetics of the interior, giving it plenty of natural light and making the rooms appear spacious. The rustic element gives warmth and elegance, making the home comfortable and welcoming.</p>
        </div>
        <div class="col-md-6 text-white">
            <div class="card mb-3">
                <img src="{% static 'img/grange4.jpg' %}" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="text-white mt-5 mb-5">
        <h3>Contact Us</h3>
        <p><span class="fw-bold">Email:</span> info@livandesigninnov.co.zw <br>
            <span class="fw-bold">Phone number: </span> +263 782 995614
         </p>
    </div>
  </div>

{% endblock content %}