{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="services-img text-center align-content-center text-white">
    <h1 class="page-text text-gold text-uppercase display-4">Our Services</h1>
</div>


<div class="container mt-5">
    <h2 class="mb-5 text-center text-white animate__animated animate__bounce">We <span style="font-family: cursive;">specialise</span> in the following <span style="font-family: cursive;">services</span>
    </h2>


    <div class="row text-center align-items-evenly">


        <div class="col-md-3 d-flex align-items-stretch">
            <div class="shadow-lg p-3 mb-5 bg-dark rounded">
            <i class="fa-solid fa-compass-drafting mt-2 mb-3" style="font-size: 48px; color: orange;"></i>
            
                <h4 class="text-white mb-3 text-uppercase" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Architecture</h4>
                <p class="text-white text-ghn">Livan Design Innovation consists of a group of professional architects with a wealth of knowledge and expertise in the design of exclusive contemporary residences and selective projects. To provide our clients with superior quality, we offer 3d visualization. These are accurate architectural renderings that allow our clients to visualize the project in full before the construction process starts.</p>
            </div>

        </div>
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="shadow-lg p-3 mb-5 bg-dark rounded">
            <i class="fas fa-tasks mt-2 mb-3" style="font-size: 48px; color: orange;"></i>

            
                <h4 class="text-white mb-3 text-uppercase" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Project management</h4>
                <p class="text-white text-ghn">We specialize in delivering comprehensive construction management services that ensure your project is completed on time, within budget and on the highest standards of quality. With years of experience in the industry, our team is dedicated to managing every aspect of your construction project from initial planning to final handover.</p>
            </div>

        </div>
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="shadow-lg p-3 mb-5 bg-dark rounded">
            <i class="fas fa-hard-hat  mt-2 mb-3" style="font-size: 48px; color: orange;"></i>
            
                <h4 class="text-white mb-3 text-uppercase" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> Construction</h4>
                <p class="text-white text-ghn" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">We also offer construction services in conjunction with various specialists that are passionate about what they do and dedicated to provide our clients with superior quality. With years of experience in the industry, our team is dedicated to managing every aspect of your construction project from initial planning to final handover. </p>
            </div>

        </div>


        <div class="col-md-3 d-flex align-items-stretch">
            <div class="shadow-lg p-3 mb-5 bg-dark rounded">
            <i class="fas fa-city  mt-2 mb-3" style="font-size: 48px; color: orange;"></i>
            
                <h4 class="text-white mb-3 text-uppercase" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> Urban planning</h4>
                <p class="text-white text-ghn" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Our town planning services are designed to create sustainable, vibrant and well organised communities. This lies in our expertise in urban development, environmental planning and regulatory compliance, ensuring that every project we undertake contributes positively to the built environment and enhances the quality of life of residents. </p>
            </div>

        </div>
    </div>
</div>

{% endblock content%}